<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>JS Bin</title>
</head>

<body>
    <!-- <div id="app">
        {{ message }}
    </div> -->
    <div id="app">
        <h2>Todos:</h2>
        <ol>
          <li v-for="todo in todos">
            <label>
              <input type="checkbox"
                v-on:change="toggle(todo)"
                v-bind:checked="todo.done">
      
              <del v-if="todo.done">
                {{ todo.text }}
              </del>
              <span v-else>
                {{ todo.text }}
              </span>
            </label>
          </li>
        </ol>
      </div>
      
    <script src="main.js"></script>
</body>

</html>